.site-topbar { background-color: #225559; color: white; }
.navbar { background-color: #842a2a; }
.site-navbar .navbar-nav a { color: white;}
.site-navbar .navbar-nav a:hover { color: black;}
.site-navbar .navbar-nav .active a { background-color: #225559; }
.block-text { color: #842a2a; font-size: 1.5em; }
.gallery { background-color: #225559; }
.gallery a { color: white;}
.section.section-hilite { background-color: #fff2d8; }
.section.section-hilite .section-title span { background: none; }
.section .section-title span { background: none;}

.section .section-title:after { display: none;}
.site-navbar .navbar-brand a { color: white; }
#beers h5 { color: #ef7621;}
.section.section-features .icon-wrap { width: 100%; height: auto; }

.section.section-center { text-align: left; }
.media { margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 20px;}
h3.intro { text-transform: uppercase; margin-bottom: 30px; color: white;}
#age-verify .modal-body {
    background-color: #842a2a;
}
#age .btn { margin: 5px; }

.header-image { width: 940px; height: 340px }
.section.section-our-clients a { background: none; transition: none; margin-bottom: 30px; }
.section.section-our-clients a:hover,
.section.section-our-clients a:active {
    box-shadow: none;
}
@media all and (max-width: 480px) and (min-width: 320px) {

.pull-left img { display: none;}

}
